#ansible/roles/k8s/tasks/templates/app-deployment.yml.j2
---
# ---------------- Backend Deployment ----------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ app_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: nexus-credentials
      containers:
        - name: backend
          image: "{{ nexus_registry_url }}/{{ nexus_docker_repo }}/{{ backend_name }}:{{ image_tag }}"
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres.{{ app_namespace }}.svc.cluster.local:5432/myappdb"

---
# ---------------- Frontend Deployment ----------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ app_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: nexus-credentials
      containers:
        - name: frontend
          image: "{{ nexus_registry_url }}/{{ nexus_docker_repo }}/{{ frontend_name }}:{{ image_tag }}"
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_API_URL
              value: "http://{{ nginx_lb_hostname }}/app/api"