apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: ${eks_endpoint}
      certificate-authority-data: ${eks_ca}
    name: ${eks_name}
contexts:
  - context:
      cluster: ${eks_name}
      user: ${eks_name}-user
    name: ${eks_name}-context
current-context: ${eks_name}-context
users:
  - name: ${eks_name}-user
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: aws
        args:
          - eks
          - get-token
          - --cluster-name
          - ${eks_name}
