# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
